
body{
    background-color: rgb(242, 217, 184);
}

html{
    font-size: 10px;
}

.Heading{
    width: 100%;
    padding :0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight:900;
    font-style: inherit;
    background-color: burlywood;
}

#time{
    padding-top: 3%;
    padding-left: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
    font-weight: bold;
}

.sudoku_grid{
    display: flex;
    flex-direction: row;
    /* max-width: 578px; */
    max-width: 47.8rem; 
    flex-wrap: wrap;

    /* margin: 20px auto ; */
    margin: 1.7rem auto;
}


.sudoku_grid div{
    display:  flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    width: 5rem;
    height: 5rem;
    color:aliceblue;
    font-size: 3rem;

    box-sizing: border-box;
}

@media(max-width:500px)
{
    html{
        font-size: 6px;
    }
}
@media(max-width:295px)
{
    html{
        font-size: 4px;
    }
}
@media(max-width:196px)
{
    html{
        font-size: 2.5px;
    }
}

@media(max-width:132px)
{
    html{
        font-size: 1.7px;
    }
}
@media(max-width:93px)
{
    html{
        font-size: 1.1px;
    }
}
@media(max-width:65px)
{
    html{
        font-size: 0.76px;
    }
}

.Buttons{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;    
    margin-bottom: 8rem;
}

.dig{
    background-color: #1f998d;
    border: 0.2rem solid  white;
}

.dig:hover{
    background-color: yellowgreen;
}

.number-selected{
    background-color: #2d6898;
}

#GetPuzzle,#SolvePuzzle,#RestartPuzzle,#SubmitPuzzle,#undo,#redo{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 1rem 3.5rem;
    font-size: 2.4rem;
    border: 0.1rem solid #2d6898;
    box-shadow: inset 0rem 0.1rem 0rem rgba(255,255,255,.3);
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

#GetPuzzle:hover,#SolvePuzzle:hover,#RestartPuzzle:hover,#SubmitPuzzle:hover,#undo:hover,#redo:hover{
    background-color: #2d6898;
}

.box1{
    background-color: #1520A6;
    border: 0.2rem solid  white;
}

.box1:hover{
    background-color: #48aaaD;
    color: black;
}

.box2{
    background-color: #BC5448;
    border: 0.2rem solid  white;
}
.box2:hover{
    background-color: red;
}

.box3{
    background-color: #028a0f;
    border: 0.2rem solid  white;
}
.box3:hover{
    background-color: #3Ded97;
    color: black
}

.bl{
    border-left: 0.4rem solid black;
}

.bb{
    border-bottom: 0.4rem solid black;
}

.br{
    border-right: 0.4rem solid black;
}

.bt{
    border-top: 0.4rem solid black;
}
